body{
    font-size: 16px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a,a:active{
    color:black;
    text-decoration: none;
}

.sidebar svg{
    fill:white;
    height: 40px;
    width: 35px;
    vertical-align: middle;
}

.header svg{
    height: 35px;
    width: 30px;
    vertical-align: middle;
}

.profile-img{
    vertical-align: middle;
    height:70px ;
    width: 70px;
    border-radius: 50%;
}

.wrapper{
    display: grid;
    grid-template-columns: 1.5fr 5fr;
    grid-template-rows: 1fr 4.5fr;
    grid-template-areas: 
                        "sidebar header"
                        "sidebar article";                   

}

.header{
    grid-area: header;
    box-shadow: 3px 3px 8px #aaa2a2;
    z-index: 1;
    /* border:2px solid red; */
}

.sidebar{
    background-color:#1992d4;
   /*  border:2px solid red; */
    grid-area: sidebar;
    display: flex;
    gap:3rem;
    flex-direction: column;
}

.content{
    padding-right:1.5rem;
    padding-top: 2rem;
    padding-bottom: 5rem;
    grid-area: article;
   /*  border: 2px solid red; */
    background-color: #d9dde2;
    display: grid;
    gap:2rem;
    grid-template-columns: 2.5fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
                        "projects announcements"
                        "projects trending";
}

.header-top{
    padding-top: 2rem;
    display: grid;
    grid-template-columns: 2fr 1fr;
}    
.right-header{
    display: grid;
    grid-template-columns: .5fr 3fr;
    justify-items: space-around;
    align-items: center;
    gap:1.5rem;
}    

.user-profile{
    display: flex;
    gap:1.5rem;
    align-items: center;
}

.profile-name{
    font-size: 1.8rem;
    font-weight: 550;
}

.header-below{
    padding-top: 2.2rem;
    padding-left: 3.5rem;
    display: grid;
    grid-template-columns: 2fr 1.3fr;
    align-items: center;
}

.header-below img{
    height: 90px;
    width: 90px;
}

.user-info{
    display: flex;
    align-items: center;
    gap:1.5rem;
    font-size: 1.3rem;
    font-weight: 550;
}

.profile-info-hero{
    font-size:2rem;
}

.sidebar span{
    color:white;
    font-weight: 600;
}

.nav a{
    display: flex;
    gap: 1.5rem;
}

.logo{
    padding: 1rem;
    font-size: 2rem;
}

.logo svg{
    height: 50px;
    width: 50px;
}


.nav{
    display: flex;
    flex-direction: column;
    gap:4rem;
    font-size: 1.5rem;
    padding: 1rem;
}

.user-nav,.tool-nav{
    display: flex;
    flex-direction: column;
    gap:1.5rem;
}

.search-bar{
    display: grid;
    align-items: center;
    grid-template-columns: 90px 80%;
    gap: .7rem;
}

.search-bar label{
    justify-self: end;
}

.search-bar input{
    appearance: none;
    background-color: #e2e8f0;
    border: 2px solid rgb(235, 231, 231);
    border-radius: 2rem;
    height: 2rem;
}

/* .search-bar svg{
    height: 25px;
    width: 30px;
}
 */
.search-bar input:focus{
    outline: none;
    border: 2px solid rgb(163, 163, 163);
}

.header-nav{
    display: flex;
    gap: 2rem;
    justify-content: sa;
}

.header-nav button{
    font-size: 1.3rem;
    font-weight: bold;
    color:white;
    height: 3rem;
    width: 7rem;
    border:none;
    border-radius: 2rem;
    background-color: #1992d4;
}

.projects{
    grid-area: projects;
}

.announcements{
    grid-area:announcements;
}

.trending{
    grid-area:trending;
}

.content-header{
    font-size: 2rem;
    font-weight: 550;
}

.projects{
    display: grid;
    gap:1rem;
    padding-left: 1.5rem;
/*     grid-template-rows: 35px 1fr; */
}

.article{
    gap:2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(350px,1fr));
}

.card{
    border-left: 10px solid rgb(230, 197, 11);
    height: 250px;
    background-color: #fff;
    box-shadow: 3px 3px 8px #aaa2a2;
    border-radius: 1rem;
    padding: 2rem;
    font-size: 1.2rem;
    color:rgb(82, 80, 80);
    display: grid;
}

.card-header{
    color:black;
    font-weight: 550;
    font-size: 1.5rem;
}

.announcements{
    display: flex;
    padding-right: 2rem;
    flex-direction: column;
    gap:1rem;
    

}

.announcement-article{
    display: grid;
    background-color: #fff;
    padding: 2rem;
    border-radius: 1rem;
    gap:1rem;
    color:rgb(82, 80, 80);
    font-size: 1rem;
    box-shadow: 3px 3px 8px #aaa2a2;
}

.announcement-card{
    height: 90px;
    width: calc(100%);
    padding-bottom: 1rem;
    border-bottom: 1px solid grey;
    overflow:hidden;
/*     display: inline-block;
    white-space: nowrap;
    text-overflow: ellipsis; */
}

.announcement-header{
    color:black;
    font-weight: 550;
    font-size: 1.2rem;
}

.trending{
    padding-right: 2rem;2
}

.trending-article{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 2rem;
    border-radius: 1rem;
    gap:2rem;
    color:rgb(82, 80, 80);
    font-size: 1.2rem;
    box-shadow: 3px 3px 8px #aaa2a2;
}

.trending-card img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.trending-card{
    display: flex;
    gap:2rem;
}

.trending-profile-name{
    font-weight: 550;
    color: black;
}

.card svg{
    height: 35px;
    width: 30px;
    vertical-align: middle;
}

.icons{
    margin-top: 1rem;
    padding-right: 1rem;
    display: flex;
    gap:1.5rem;
    justify-content: flex-end;
}